@import './reset.scss';

// 滚动条全局设置
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  // background: $home-menu-left-color;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: rgba($color: #393c3f, $alpha: 0.6);
  border-radius: 10px;
}