// 全局变量
// 登录页字体
$login-chn-font: '楷体';

/*主页左侧菜单*/
// 整体宽度
$home-menu-left-width: 260px;
// 背景颜色
$home-menu-left-color: #141718;
// LOGO高度 
$home-menu-left-logoHeight: 90px;
// 顶部菜单高度
$home-menu-top-height: 80px;